.condition-header {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #DDDDDD;
    background: #222222;
}

.condition-description {
    width: 100%;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
    color: #FFFFFF;
}

.action-header {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #DDDDDD;
    background: #222222;
}

.action-description {
    width: 100%;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
    color: #FFFFFF;
}

.action-input {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    padding: 5px;
    background: #222222;
}

.action-option {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    padding: 5px;
    background: #222222;
    cursor: pointer;
}

.action-option-description {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
    color: #FFFFFF;
}

.action-option-checkbox {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 5px;
    border: solid 3px #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background: #333333;
}

.rule-header {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #DDDDDD;
    background: #222222;
    border: 1px solid #FFFFFF;
}

.rule-description {
    max-width: 100%;
    max-height: 300px;
    min-height: 150px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #DDDDDD;
    background: #222222;
    border: 1px solid #FFFFFF;
}

.rule-body {
    min-height: 80px;
    padding: 5px;
    font-size: 20px;
    background: #333333;
    flex-wrap: wrap;
}